.teamButton {
	position:relative;
	float:left;
	border: solid white;
	/*padding:2px;*/
	font-family: 'Arial', sans-serif;
	/*color: whitesmoke;*/
	background-color: whitesmoke;
	text-align: center;
	border-radius: 5px;
	font-size:0.8em;
	padding-top:5px;
}

.teamButton:hover{
	cursor:pointer;
	background-color: silver;
}

#team_button_div {
	/*margin: 0px auto;*/
	float:left;
	position:relative;
}

#ma_control{
	width:50px;
	height:150px;
	position:relative;
	float:left;
	padding-left: 10px;
}

#ma_slider{
	margin : 0px auto;
	margin-top : 10px;
	height: 100px;
}

#ma_label{
	margin: 0px auto;
	font-size:0.8em;
	color:rgb(70,70,70);
	font-family: 'Arial', sans-serif;
	text-align: center;
	font-weight: bold;
}
#ma_label:hover {
 text-decoration: none;
}

.ui-tooltip {
  padding: 1px 1px;
  color: black;
  text-transform: uppercase;
  box-shadow: none;
  border-width: 1px;
  font-size:11px;
  /*font-family: georgia, "helvetica neue",helvetica,arial,sans-serif;*/
  color: rgb(70,70,70);
  background-color: whitesmoke;
}

.boundary rect{
  fill : white;
  stroke : none;
}

.boundary text{
  fill:  rgb(150,150,150);
  font-size: 12px;
  font-weight: normal;
  font-family: sans-serif;
}

.boundary text{
  text-anchor: middle;
}