.teamButton {
	position:relative;
	float:left;
	border: solid white;
	/*padding:2px;*/
	font-family: 'Arial', sans-serif;
	/*color: whitesmoke;*/
	background-color: whitesmoke;
	text-align: center;
	border-radius: 5px;
	font-size:0.8em;
	padding-top:5px;
}

.teamButton:hover{
	cursor:pointer;
	background-color: silver;
}

#team_button_div {
	margin: 0px auto;
}