.group_button {
	position:relative;
	float:left;
	border: solid white;
	/*padding:2px;*/
	font-family: 'Arial', sans-serif;
	/*color: whitesmoke;*/
	color: white;
	text-align: center;
	border-radius: 5px;
	font-size:1.2em;
	padding-top:5px;
}


.axis path, .axis line{
  fill: none;
  stroke: rgb(80,80,80);
  shape-rendering: crispEdges;
}

#scatter_div text{
	font-family: sans-serif;
	fill: rgb(80,80,80);
}

.point_label{
	text-anchor: middle;
	fill: rgb(180,20,20);
}

.group_button.hilite{
	border-color: black;
}


circle.hilite {
	stroke: black;
}

text.hilite {
	font-weight: bold;
}

circle:hover, .group_button:hover{
	cursor:pointer;
}