#false_bar_div, #true_bar_div {
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
}

#team_div {
	position:relative;
	float:right;
	margin:0px;
	padding:0px;
}

#intro{
	padding-top: 12px;
	padding-bottom: 15px;
}

.chart_title{
	font-family:sans-serif;
	text-align: right;
	font-weight: bold;
}