#broad_table{
	width: 75%;
	margin: 0px auto;
}

#position_table{
	width: 75%;
	margin: 0px auto;
}

.posbar {
  fill: rgb(0,120,240);
}

.negbar {
  fill: red;
}

.valuebar {
  fill: rgb(0,120,240);
}

.valuetext {
  fill: rgb(0,120,240);
}

.highbar {
  fill: red;
  stroke-width:2;
}

.chart text {
  fill: rgb(70,70,70);
  /*font: 10px sans-serif;*/
  /*text-anchor: start;*/
  text-anchor: end;
}

.vizbar {
 /*clip-path: url(#clip);*/
}

.dimbar {
  opacity:0.125;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.plabel text{
  text-anchor: middle;
  font-weight: bold;
}

.vizbutton{
  position:relative;
  float:left;
  text-align: center;
  background-color: rgb(220,220,220);
  padding-top:10px;
  padding-bottom:10px;
  height:20px;
  margin-bottom: 10px;
  color:white;
  border-right:1px;
  border-right-style:solid;
  border-color:white;
}

.inviz{
  background-color: rgb(70,70,70);
}

.vizbutton:hover {
  background-color: rgb(145,145,145);
  cursor:pointer;
}



.rdline {
  fill: none;
  stroke: rgb(70,70,70);
  opacity: 0.2;
  shape-rendering: crispEdges;
  stroke-width: 1;
  stroke-dasharray:"5,5";
}

.rdtext {
  text-anchor: middle;
  fill:  rgb(150,150,150);
  font-size: 11px;
  font-weight: normal;
  font-family: sans-serif;
  font-style: normal;
  shape-rendering: crispEdges;

}

.boundary {
  fill : white;
  stroke : none;
}