#broad_table{
	width: 75%;
	margin: 0px auto;
}

#position_table{
	width: 75%;
	margin: 0px auto;
}

.posbar {
  fill: steelblue;
}

.negbar {
  fill: red;
}

.chart text {
  fill: rgb(70,70,70);
  /*font: 10px sans-serif;*/
  /*text-anchor: start;*/
  text-anchor: end;
}

