#broad_table{
	width: 75%;
	margin: 0px auto;
}

#position_table{
	width: 75%;
	margin: 0px auto;
}

.posbar {
  fill: rgb(0,120,240);
}

.negbar {
  fill: red;
}

.valuebar {
  fill: rgb(0,120,240);
}

.chart text {
  fill: rgb(70,70,70);
  /*font: 10px sans-serif;*/
  /*text-anchor: start;*/
  text-anchor: end;
}

.vizbar {
 clip-path: url(#clip);
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}