.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 1.5px;
    stroke: steelblue;
}

.past {
    stroke: steelblue;
}

.future {
    stroke: red;
}

#content {
    font-family: Calibri;
    font-size: large;
    width: 800px;
    margin: 0 auto;
}

#controls {
    border: none;
    margin-top: 20px;
    width: inherit;
}

td {
    vertical-align: top;
    align: left;
}

#userId {
    width: 50px;
    text-align: center;
}

#invalidId {
    text-align: center;
    font-weight: bold;
    color: darkred;
}

#nextButton {
    width: 100px;
}

.radioHeading {
    font-weight: bold;
}

.ratingRadio {
    margin-top: -1px;
    vertical-align: middle;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

